body{
    transition: .5s ease;
}
.hero{
    position: relative;
    z-index: 2;
    margin-bottom: -8rem;
}
.main{
    position: relative;
    /* bottom: -2rem; */
}
@media screen and (min-width:800px) {
    .hero{
        position: relative;
        z-index: 2;
        margin-bottom: -16rem;
    }
    
}
.Contact{
    box-shadow: 3px 8px 10px 1px rgb(18, 18, 21);
    position: relative;
    z-index: 2;
    margin-bottom: -6rem;

}
form input{
    outline: none;
}